#titulo_principal{
    background-color: #318d39;
    color: rgb(210, 255, 214);
    border-radius: 15px;
}

.titulo_secundario{
    background-color: #0f4212;
    color: rgb(210, 255, 214);
    border-radius: 15px;
    margin-top: 15px;
    padding: 5px;
}

#layout{
    display: flex;
}

.rodape{
    text-align: center;
    background-color: #2d422b;
    border-radius: 15px;
}

nav a{
    text-decoration: none;
}

body{
    background-color: #1e2c1d;
    color: rgb(210, 255, 214);
    font-family: 'lora', serif;
    font-size: 20px;
    font-style: normal;
    line-height: 1,5px;
    font-weight: 400;
    text-transform: none;
    word-spacing: 1px;
    letter-spacing: none;
    text-indent: 20px;
    text-align: justify;
    border: solid 15px #318d39;
    border-bottom: solid 15px #318d39;
    border-radius: 20px;
    margin: 20px;
    padding: 20px 10px;
}

nav a{
    text-decoration: none;
    background-color: #318d39;
    color: rgb(210, 255, 214);
    border-radius: 10px;
    padding: 5px;
}

.teste_display{
    background-color: #d34646;
    display: block;
}

#display

nav a{
     text-decoration: none;
}

#teste_estilo_lista_ul{
    list-style-type: none;
}

#teste_estilo_lista_ol{
    /*list-style-type: ;*/
    list-style-image: url('img/seta_direita_vermelha.png');
}

li{
    border:solid 3px #318d39;
    list-style-position: outside;
    margin-bottom: 5px;
}

#impacto{
    background-image: url('img/senhordosaneis_fundo.jpg');
    background-repeat: no-repeat;
    /*background-position: ;*/
    background-size: cover;
    background-attachment: fixed;
    text-shadow: 3px 3px 2px red;
    width: 2000px;
    height: 1500px;
}

.noticia{
    border: solid 3px rgb(210, 255, 214);
    width: 200px;
    /*position: ;*/
    height: 100px;
    overflow: auto;;
    margin-bottom: 20px;
}

.um{
    background-color: #318d39;
    top: 0px;
    left: 50px;
    z-index: 3;
    box-shadow: 3px 3px 10px 3px #0f4212;
}

.dois{
    background-color: #0f4212;
    top: 200px;
    left: 250px;
    box-shadow: 3px 3px 10px 3px #318d39;
}

.informacoes_filme{
    background-color: #318d39;
    border-radius: 15px;
    padding: 5px;
    width: fit-content;
}

.info_link{
    color: rgb(210, 255, 214);
    background-color: #318d39;
    border-radius: 15px;
    padding: 5px;
}

.titulo_tolkien{
    background-color: #318d39;
    border-radius: 15px;
    padding: 5px;
    width: fit-content;
}

.titulo_terra_media{
    background-color: inherit;
    border-radius: 15px;
    padding: 5px;
    display: center;
}